@font-face {
  font-family: "DINPro-Medium";
  src: url(../fonts/DINPro-Medium_13936.ttf);
}

@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "DINPro-Bold";
  src: url(../fonts/DINPro-Bold_13934.woff) format("woff");
  src: local("DINPro-Bold"),
    url("../fonts/DINPro-Bold_13934.woff") format("woff");
}

.DIN {
  font-family: "Roboto Bold" !important;
}

.Roboto {
  font-family: "DINPro-Medium" !important;
}

.titleBold {
  font-family: "DINPro-Bold" !important;
}
