.logo {
  letter-spacing: 0px !important;
  font-family: "DINPro-Bold" !important;
}

.form-control::-webkit-input-placeholder {
  color: #bec6cc;
}
.form-control:-moz-placeholder {
  color: #bec6cc;
}
.form-control::-moz-placeholder {
  color: #bec6cc;
}
.form-control::placeholder {
  color: #bec6cc;
}
.form-control:-ms-input-placeholder {
  color: #bec6cc;
}

.fs-1p5rem {
  font-size: 1.5rem !important;
}

.padding0 {
  padding: 0px !important;
}

.text-black0 {
  color: #000 !important;
}

.nor-img-width {
  width: 70% !important;
  height: auto;
}

.pl-footer {
  padding-left: 8%;
}

.pl-footer-2 {
  padding-left: 4%;
}

#welcome {
  background-image: url(../images/new/Frame\ 10.png);
}

.list-style-normal li {
  padding: 0;
  margin: 0;
  margin-left: 22px;
  list-style: disc !important;
}

.paraBgColorWithPadding {
  background-color: #f8f1e9;
  padding: 16px;
  padding-bottom: 28px;
  border-radius: 8px;
}

.paraBgColorWithPadding2 {
  background-color: #f8f1e9;
  padding: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
}

.customize {
  background-color: #f9a826 !important;
}

.customize:hover {
  background-color: #cf8817 !important;
}

.price-bg {
  background-image: url(../images/new/Frame\ 8.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.faq-bg {
  background-image: url(../images/new/Frame\ 6.1.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.faq-br {
  border-radius: 8px;
}

.contact-form {
  background-image: url(../images/new/Frame\ 5.png);
  /* overflow: hidden; */
  /* background-attachment: fixed; */
  /* position: relative; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* background-image: url(../images/banner-bg.png); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 105vh; */
  /* height: 105vh; */
  /* margin-top: -10vh; */
}

.pic2 {
  background-image: url("../images/new/undraw_developer_activity_bv83.png") !important;
}

hr {
  color: black !important;
}

.package {
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );

  color: white !important;
}

.section-hr {
  /* border-bottom: 1px solid #eee; */
}

.btnBase {
  width: 100%;
  font-size: 13px;
  letter-spacing: 0.25px;
  border-radius: 20px;
  padding: 8px 20px;
  text-transform: uppercase;
}

.btn1 {
  border-color: #00b4c6;
  background-color: #00b4c6;
}

.btn1:hover {
  background-color: #0088e8;
}

.btn2 {
  border-color: #f9a826 !important;
  background-color: #f9a826 !important;
}

.btn2:hover {
  background-color: #cf8817;
}

.w-80 {
  width: 80% !important;
}

#packages {
  padding: 120px 0px;
}

#benefits {
  padding: 120px 0px;
}

.contact-form textarea {
  color: #000;
}

.contact-field {
  background-color: rgba(250, 250, 250, 0.8);
}

#frequently-question .align-self-cancel {
  align-self: unset !important;
}

.xsda-22 {
  list-style: none;
  /* list-style-image: url(../images/li/check.png); */
  padding-left: 0;
}

.xsda-23 {
  position: relative;
  padding-left: 2em;
}

.xsda-23:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 0.8em;
  height: 0.8em;

  background: url(../images/li/check-solid.svg) no-repeat;
}

.footerBtnMouseHover:hover {
  margin-top: 1rem !important;
  color: #249dd8 !important;
}

@media only screen and (max-width: 1024px) {
  .price-bg {
    background-image: url(../images/new/Frame\ 8.1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .nor-img-width {
    width: 80% !important;
  }
}

@media only screen and (device-width: 1024px) {
  .contact-form {
    height: 75vh !important;
  }
}

@media only screen and (device-width: 768px) {
  .contact-form {
    height: 70vh !important;
  }
}

@media (max-width: 765px) {
  .welcome-area {
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .pl-footer {
    padding: 0%;
  }

  .pl-footer-2 {
    padding-left: 0%;
  }

  .nor-img-width {
    width: 40% !important;
  }

  .center-on-sm {
    text-align: center;
  }

  .mt-767-4 {
    margin-top: 2rem !important;
  }

  .price-bg {
    background-image: url(../images/new/MB\ Frame\ 14.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .btn {
    width: 60% !important;
    height: auto !important;
  }

  .pricing-table .ptable-item {
    width: 100%;
  }

  .pricing-table.table-3 .ptable-body::before {
    border-top: 50px solid #2a293e;
  }

  .pricing-table.table-3 .ptable-body::after {
    border-bottom: 50px solid #2a293e;
  }

  .pricing-table.table-3 .ptable-item.featured-item .ptable-body::before {
    border-top: 50px solid #f9a826;
  }

  .pricing-table.table-3 .ptable-item.featured-item .ptable-body::after {
    border-bottom: 50px solid #f9a826;
  }

  .h1-320 {
    margin-top: 24px !important;
  }

  .xxmt {
    margin-top: 50px !important;
  }
}

/* @media (device-width: 768px) {
  .contact-form {
    background-image: url("../images/new/Frame\ 3.png");
  }
} */

@media (max-width: 360px) {
  .mt-10rem {
    margin-top: 10rem !important;
  }

  .h1-320 {
    margin-top: 32px !important;
  }

  .logo {
    font-size: 18px !important;
    font-weight: 900 !important;
  }

  .h-320-320px {
    height: 320px !important;
  }

  .img-mt-0 {
    margin-top: 0px !important;
  }

  .w-100-320 {
    width: 100% !important;
  }

  .col-320-w-100 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-left: 15px !important;
    text-align: center !important;
    padding-right: 15px !important;
  }

  .mt-320-12px {
    margin-top: 12px !important;
  }
}

@media (min-width: 1200px) {
  .container2 {
    max-width: 95%;
  }
}

@media (min-width: 992px) {
  .container2 {
    max-width: 95%;
  }

  .ls-1p5 {
    /* letter-spacing: -1.5px; */
    line-height: 60px !important;
  }
}

@media (max-width: 539px) {
  .price-bg {
    background-image: url(../images/new/MB\ Frame\ 14.png);
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
  }

  .faq-bg {
    background-image: url(../images/new/MB\ Frame\ 13.png);
    background-attachment: initial;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 375px) {
  .ls-1p5 {
    margin-top: 60px !important;
  }
}

@media (max-width: 360px) {
  .xsda-23 {
    position: relative;
    padding-left: 0em;
  }

  .mt-320-12px {
    margin-top: 0px !important;
    text-align: left;
    margin-left: 16px;
  }

  .left-text-left-ml-16px-320 {
    text-align: left;
    margin-left: 16px;
  }
}
